<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
        {% load static %}
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
	    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
        <title>{% block title %} {% endblock title %} Krishna Store</title>
            <ul class="nav nav-tabs">
            <nav class="navbar navbar-dark bg-light">
                      <li class="nav-item">

                        <a class="nav-link active" aria-current="page" href="/">Shop</a>
                      </li>

                    {% if request.session.customer %}

                        <li class="nav-item">
                            <a class="nav-link" href="/logout">logout</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link" href="/order">Order</a>
                      </li>
                        <li class="nav-item">

                          <div class="container">
                            <a class="navbar-brand" href="/cart">


                              <img src="http://www.clker.com/cliparts/5/3/v/F/2/k/small-cart-th.png" alt="" width="30" height="24">
                            </a>
                          </div>
                      </li>
                    {% else %}
                      <li class="nav-item">
                        <a class="nav-link" href="/signup">Signup</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/loguser">Login</a>
                      </li>
                        <li class="nav-item">
                        <a class="nav-link" href = "/aboutus" >AboutUs</a>
                      </li>
                        <li class="nav-item">
                        <a class="nav-link" href = "/contact">Contact</a>
                      </li>

                     {% endif %}
            </nav>
        </ul>
  </head>

<body>
<br>
            <figure class="text-center">
                  <blockquote class="blockquote">
                    <p>Welcome To Krishna Store.</p>
                  </blockquote>
                  <figcaption class="blockquote-footer">
                    Which you Imagine Find Here <cite title="Source Title">For Sure</cite>
                  </figcaption>
            </figure>
<br>

<body>
{% block body %} {% endblock body %}
</body>
<html>