{% extends 'orders/Basecart.html' %}
{% block title %}Order {% endblock title %}
{% block body %}
    {% load cart %}
    {% load custom %}
    <br>

    <div class="container">
        <div class="text-center text-info"><h1>Your Orders</h1></div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">S.no</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Image</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Date</th>
                <th scope="col">ActualPrice</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <th scope="row">{{ order.product.name }}</th>
                    <td>
                        <img src='/media/{{ order.product.image }}' alt="" height="80" width="80">

                    </td>
                    <td>{{ order.price|currency }}</td>
                    <td>{{ order.quantity }}</td>
                    <td>{{ order.date }}</td>
                    <td>{{ order.quantity|multiply:order.price|currency }}</td>

                    {% if order.status %}

                        <td><b><small class="text-success">Completed</small></b></td>
                    {% else %}
                        <td><b><small class="text-warning">Pending</small></b></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>


        </table>

    </div>
        <div class="col-12">
        <a href="#" class="btn btn-primary" role="button" >Payment</a>

        </div>




{% endblock %}

